.dadosatividade{
    padding: 20px;
    width: 60vw;
    height: 60vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: white;
}

.linha{
    justify-content: space-around;
    display: flex;
    margin-top: 10px;
    height: 13vh;
}

.atividade{
    justify-items: center;
    text-align: center;
    padding-right: 2vw;
}
